NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000

MONGO_URI=mongodb://127.0.0.1:27017/bill_nest

JWT_ACCESS_SECRET=replace_with_64_char_secret_replace_with_64_char_secret_abcd
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace_with_64_char_secret_replace_with_64_char_secret_efgh
JWT_REFRESH_EXPIRES_IN=7d

EMAIL_VERIFICATION_TOKEN_SECRET=replace_with_64_char_secret_replace_with_64_char_secret_ijkl
EMAIL_VERIFICATION_TOKEN_EXPIRES_IN=30m

PASSWORD_RESET_TOKEN_SECRET=replace_with_64_char_secret_replace_with_64_char_secret_mnop
PASSWORD_RESET_TOKEN_EXPIRES_IN=15m

BCRYPT_SALT_ROUNDS=12
